* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
}

body {
  background-color: #0e3c5e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
@media screen and (max-width: 530px) {
  body {
    overflow-x: hidden;
  }
}
body .nav {
  align-items: center;
  background-color: #636d76;
  color: #afbbc8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 530px) {
  body .nav {
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 10px;
    width: 100%;
  }
}
body .nav .nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}
body .nav .nav-ul li {
  list-style: none;
}
body .nav .nav-ul li a {
  text-decoration: none;
}
body .nav .nav-ul li a:visited {
  color: #afbbc8;
}
body .nav .nav-ul li:hover {
  cursor: pointer;
}
@media screen and (max-width: 530px) {
  body .nav .nav-ul li {
    text-align: center;
    width: 100%;
  }
  body .nav .nav-ul li:hover {
    background-color: #636d76;
  }
}
@media screen and (max-width: 530px) {
  body .nav .nav-ul {
    align-items: flex-end;
    background-color: #636d76;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 90vh;
    margin: 0;
    position: absolute;
    right: 0px;
    top: 49px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 100%;
    z-index: 1;
  }
}
@media screen and (max-width: 530px) {
  body .nav .nav-ul {
    height: 100vh;
  }
}
@media screen and (max-width: 530px) {
  body .nav .nav-active {
    transform: translateX(0%);
  }
}
body .nav .burger {
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 530px) {
  body .nav .burger {
    display: block;
  }
}
body .nav .burger div {
  background-color: rgb(226, 226, 226);
  height: 3px;
  margin: 5px;
  text-align: right;
  transition: all 0.3s ease;
  width: 25px;
}
@media screen and (max-width: 530px) {
  body .nav .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  body .nav .toggle .line2 {
    opacity: 0;
  }
  body .nav .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
body .section-one {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 10px 20px;
  width: 100%;
}
body .section-one .section-one_wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
body .section-one .section-one_wrapper img {
  border: 5px solid #afbbc8;
  height: 275px;
  margin: 0 20px 0 0;
  width: 200px;
}
body .section-one .section-one_wrapper h1 {
  color: #afbbc8;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  width: 50%;
}
@media screen and (max-width: 530px) {
  body .section-one .section-one_wrapper {
    flex-direction: column;
    overflow-x: hidden;
  }
  body .section-one .section-one_wrapper img {
    margin: 0 0 20px 0;
  }
  body .section-one .section-one_wrapper h1 {
    font-size: 1rem;
    width: 100%;
  }
}
body .footer {
  align-items: center;
  background-color: #636d76;
  color: #afbbc8;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */